@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

body{
	font-family: 'Roboto', sans-serif;
	background-color:rgb(249, 249, 249);
}
.github-fork{
	position: absolute;
    z-index: 1000;
    right: 0;
    top: 0;
    width: 200px;
}
.action-buttons{
	background-color: #f2f2f2;
	color: #383838;
	font-size: 14px;
	padding: 7px 18px;
	cursor: pointer;
	box-shadow: 0 1px 2px -1px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
	width: auto;
	border: none;
	font-weight: 700;
}
.form-main{
	text-align: center;
}
.form-main .form-control{
	border-radius: 0px;
	border: 1px solid black;
}
.form-main .btn{
	border-radius: 0px;
}
.header-image{
    background-color: rgb(239, 250, 141);
    background-image: url('../bg.png');
    padding: 20px;
    text-align: center;
}
.other-text{
	font-size : 16px;
	margin: 10px;
	text-align: center;
}